<div class="form-container">
  <form class="contact-form" action="/register" method="post" >
                            <div class="inputBox">
                                <input class="input-area" type="text" name="firstName" required="required" />
                                <span>First Name</span>
                                <i></i>

                            </div>
                            <div class="inputBox">
                                <input class="input-area" type="text" name="lastName" required="required" />
                                <span>Last Name</span>
                                <i></i>

                            </div>
                            <div class="inputBox">
                                <input class="input-area" type="text" name="email" required="required" />
                                <span>Email</span>
                                <i></i>

                            </div>
                            <div class="inputBox">
                                <input class="input-area" type="password" name="password" required="required" />
                                <span>Password</span>
                                <i></i>

                            </div>
                            <div class="inputBox">
                                <input class="input-area" type="password" name="confirmPassword" required="required" />
                                <span>Confirm Password</span>
                                <i></i>

                            </div>

                             <div class="form-button">
                                 <a class="login-btn" href="/login">Login ?</a>
                                <button id="send-button" type="submit">Register<span><i class="fa-solid fa-paper-plane"></i></span></button>
                            </div>

                            </div>
                            



                        </form>
</div>